<header>
    <div class="header-img"></div>
    <nav>
      <ul>
        <a href=""><li>Home</li></a>
        <a href="newsets"><li>New Sets</li></a>
        <a href="cart"><li>Your cart</li></a>
        <a href="about-us"><li>About Us</li></a>
        <a href="contact-us"><li>Contact Us</li></a>
      </ul>
    </nav>
  </header>