<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/styles.css" />
    <%- include('shared/head') %>
    <title>NeonNet</title>
  </head>
  <body>
    <%- include('shared/header') %>
    <main></main>
    <footer></footer>
  </body>
</html>
