<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/png" href="/favicon/favicon.ico" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/shared.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/4f6da46fbd.js"
      crossorigin="anonymous"
    ></script>
    <title>NeonNet</title>
  </head>
  <body>
    <%- include('shared/header') %>
    <main>
      <section class="cybercities">
        <ul>
          <li>
            <h2>Cyber1</h2>
            <img src="/images/cyber1.jpeg" alt="cybercity1" />
            <p>
              作エ続18素ル型告レ給思ヤナ著起だがろひ大金ヌ調8求ニ負銀オノスソ小則ム詳昭ミ元社けりぎぶ覧提ぽづ専力戦リ体実やょまさ厚学お本労販ラの。
            </p>
          </li>
          <li>
            <h2>Cyber2</h2>
            <img src="/images/cyber2.jpeg" alt="cybercity2" />
            <p>
              作エ続18素ル型告レ給思ヤナ著起だがろひ大金ヌ調8求ニ負銀オノスソ小則ム詳昭ミ元社けりぎぶ覧提ぽづ専力戦リ体実やょまさ厚学お本労販ラの。
            </p>
          </li>
          <li>
            <h2>Cyber3</h2>
            <img src="/images/cyber3.jpeg" alt="cybercity3" />
            <p>
              作エ続18素ル型告レ給思ヤナ著起だがろひ大金ヌ調8求ニ負銀オノスソ小則ム詳昭ミ元社けりぎぶ覧提ぽづ専力戦リ体実やょまさ厚学お本労販ラの。
            </p>
          </li>
        </ul>
      </section>
      <section class="cybercities">
        <ul>
          <li>
            <h2>Cyber4</h2>
            <img src="/images/cyber4.jpeg" alt="cybercity4" />
            <p>
              作エ続18素ル型告レ給思ヤナ著起だがろひ大金ヌ調8求ニ負銀オノスソ小則ム詳昭ミ元社けりぎぶ覧提ぽづ専力戦リ体実やょまさ厚学お本労販ラの。
            </p>
          </li>
          <li>
            <h2>Cyber5</h2>
            <img src="/images/cyber5.jpeg" alt="cybercity5" />
            <p>
              作エ続18素ル型告レ給思ヤナ著起だがろひ大金ヌ調8求ニ負銀オノスソ小則ム詳昭ミ元社けりぎぶ覧提ぽづ専力戦リ体実やょまさ厚学お本労販ラの。
            </p>
          </li>
          <li>
            <h2>Cyber6</h2>
            <img src="/images/cyber6.jpeg" alt="cybercity6" />
            <p>
              作エ続18素ル型告レ給思ヤナ著起だがろひ大金ヌ調8求ニ負銀オノスソ小則ム詳昭ミ元社けりぎぶ覧提ぽづ専力戦リ体実やょまさ厚学お本労販ラの。
            </p>
          </li>
        </ul>
      </section>
    </main>
    <footer></footer>
  </body>
</html>
