<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('shared/head') %>
    <link rel="stylesheet" href="/css/sets.css" />
    <title>NeonNet</title>
  </head>
  <body>
    <%- include('shared/header') %>
    <main>
      <ul>
        <li>
          <img
            src="/images/wallpaperflare.com_wallpaper (2).jpg"
            alt="wp1"
          />
          <div class="item-content">
            <div>
              <h2>Wallpaper 1</h2>
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id,
                saepe! Repellendus, officiis odit. Eligendi beatae...
              </p>
            </div>
            <div class="actions">
              <a href="/material-one">view &#x2192</a>
            </div>
          </div>
        </li>
        <li>
          <img
            src="/images/wallpaperflare.com_wallpaper (3).jpg"
            alt="wp1"
          />
          <div class="item-content">
            <div>
              <h2>Wallpaper 2</h2>
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id,
                saepe! Repellendus, officiis odit. Eligendi beatae...
              </p>
            </div>
            <div class="actions">
              <a href="#">view &#x2192</a>
            </div>
          </div>
        </li><li>
          <img
            src="/images/wallpaperflare.com_wallpaper (4).jpg"
            alt="wp1"
          />
          <div class="item-content">
            <div>
              <h2>Wallpaper 3</h2>
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id,
                saepe! Repellendus, officiis odit. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id,
                saepe! Repellendus, officiis odit. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id,
                saepe! Repellendus, officiis odit. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id,
                saepe! Repellendus, officiis odit.
              </p>
            </div>
            <div class="actions">
              <a href="#">view &#x2192</a>
            </div>
          </div>
        </li><li>
          <img
            src="/images/wallpaperflare.com_wallpaper (5).jpg"
            alt="wp1"
          />
          <div class="item-content">
            <div>
              <h2>Wallpaper 4</h2>
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id,
                saepe! Repellendus, officiis odit. Eligendi beatae...
              </p>``
            </div>
            <div class="actions">
              <a href="#">view &#x2192</a>
            </div>
          </div>
        </li><li>
          <img
            src="/images/wallpaperflare.com_wallpaper (6).jpg"
            alt="wp1"
          />
          <div class="item-content">
            <div>
              <h2>Wallpaper 5</h2>
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id,
                saepe! Repellendus, officiis odit. Eligendi beatae...
              </p>
            </div>
            <div class="actions">
              <a href="#">view &#x2192</a>
            </div>
          </div>
        </li>
      </ul>
    </main>
    <footer></footer>
  </body>
</html>
